doctype html
html
        head
            title #{pageTitle} | #{siteName}
        body
            include ../partials/header.pug
            main
                h1 
                    block content
